* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}
.red
{
    background-color:red;
}

nav {
    background-color: #306BA5;
}

.side-bar {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.dados-gerais {
    position: relative;
    border: 1px solid #c9c9c9;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.dados-gerais::before {
    content: 'Dados gerais';
}

.notas {
    position: relative;
    border: 1px solid #c9c9c9;
    border-radius: 0.75rem;
    padding: 1rem;
}

.notas::before {
    content: 'Notas';

}

.dados-gerais::before,
.notas::before {
    background-color: #FFF;
    position: absolute;
    font-weight: bold;
    padding: 0 0.3rem;
    top: -0.85rem;
    left: 2rem;
}

.row+.row {
    margin-top: 0.5rem;
}

.buttons-csv,
.buttons-pdf,
.buttons-excel {
    background-color: #0d6efd !important;
    color: #FFF !important;
    border-color: #0d6efd !important;
    border-radius: 0.25rem !important;
}
.filter-group {
    border-right: 1px solid #ccc;
}
.filter-group div+div,
.filter-group select+select {
    margin-top: 0.5rem !important;
    
}

.radio-button-display {
    display: none;
}

.radio-button-label {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

.radio-button-display:checked+.radio-button-label {
    cursor: default;
    color: #FFF;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.paginate_button {
    border: 1px solid transparent !important;
    transition: all 0.3s !important;
}

.paginate_button:not(.disabled):hover {
    background: #0d6efd !important;
}

.checkbox-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-box{
    display: inline-flex;  
}

.checkbox-box-large{
    width: 100%;
}
#checkbox-box-media {
    display: flex;    
    flex-direction: column;
}

.checkbox-box input{
    display: none;
}

.checkbox-box label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    
    color: #adadad;
    font-weight: 600;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 8px 12px;
    cursor: pointer;
}

.checkbox-box-small{
    gap: 0.5rem;
}

.checkbox-box label::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\2719";
    transition: transform .3s ease-in-out;
}

.checkbox-box input:checked + label::before{
    content: "\2714";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

.checkbox-box input:checked +label{
    border: 2px solid #227bff;
    background-color: #0d6efd;
    color: #fff;
    transition: all .2s;
}

.sidebar-responsivo {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.titulos-pag {
    color: black;
    margin-top: 40px;
}

.btn-add {
    margin-top: 40px;
    color: #F3F1F5;
}

.btn-table {
    padding: 10px 30px;
}

.btn-table:hover {
    color: white;
    opacity: 0.8;
}

.btn-nav:hover {
    color: white;
    opacity: 0.8;
}

.btn-acesso {
    width: 30px;
    margin-top: 6px;
    margin-right: 40px;
}

.btn-perfil {
    width: 40px;
    margin-right: 50px;
    flex: auto;
    justify-content: end;
}

.imagem_alterar {
    width: 50%;
    aspect-ratio: 6 / 4;
    margin-top: 12px;
}

/*style responsivo do side bar*/

@media (max-width: 999px) {
    .side-bar {
        display: none;
    }

    .btn-acesso {
        width: 25px;
        margin-top: 5px;
        margin-right: 40px;
    }

    .btn-perfil {
        width: 35px;
        margin-right: 20px;
    }

    .btn-add {
        margin-top: 40px;
        color: #F3F1F5;
    }
}

/*style sidebar*/

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-link:hover {
    color: black;
    opacity: 0.8;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

/*TABLE RESPONSIVA*/

/* Table Base */

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
}

.table {
    border-bottom: #999999 solid 1px;
    width: 100%;
    margin-top: 50px;
}

.table th,
.table td {
    border-right: #999999 solid 1px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.table td:last-child {
    border-right: 0;
}

.table thead th {
    font-weight: normal;
    background-color: #005dab;
    color: #fff;
    font-size: 15px;
}

.th-titulo {
    width: 18%;
}

.th-categoria {
    width: 12%;
}

.th-status {
    width: 9%;
}

.th-descricao {
    width: 47%;

}

.th-acoes {
    width: 14%;
}

.th-titulo-tec {
    width: 18%;
}

.th-categoria-tec {
    width: 12%;
}

.th-status-tec {
    width: 9%;
}

.th-descricao-tec {
    width: 39%;
}

.th-acoes-tec {
    width: 20%;
}

.table tbody>tr:nth-child(odd)>td,
.table tbody>tr:nth-child(odd)>th {
    background-color: #f8f8f8;
}

.breakpoint-filter {
    width: 60vw;
}

/* Breakpoint pra o filtro */

@media (max-width: 1400px) {
    .breakpoint-filter {
        width: 55vw;
    }

}

@media (max-width: 1200px) {
    .breakpoint-filter {
        width: 65vw;
    }

}

@media (max-width: 991px) {
    .breakpoint-filter {
        width: 80vw;
    }

}

@media (max-width: 575px) {
    .breakpoint-filter {
        width: 95vw;
    }

    .radio-button-filter{
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    
    
}

/* Breakpoint pra o filtro */

/* Small Sizes */

@media (max-width: 767px) {

    /* Responsive Table */
    .table-responsive {
        display: block;
        position: relative;
        width: 100%;
    }

    .radio-button-filter{
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: space-between !important;
        gap: 0.5rem;
    }
    .checkbox-box-small{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .radio-button-box{
        width: 100%;
    }
    .radio-button-label{
        width: 100%;
    }
    .radio-button-box+.radio-button-box{
        margin-top: 0 !important;

    }

    .filter-group+.filter-group {
        margin-top: 1.2rem !important;
        
    }

    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }

    .table-responsive td,
    .table-responsive th {
        height: auto;
    }

    .table-responsive thead {
        float: left;
    }

    .table-responsive tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .table-responsive tbody tr {
        display: inline-block;
    }

    .table td:last-child {
        border-right: #999999 solid 1px;
    }

    .th-nome,
    .th-cpf,
    .th-matricula,
    .th-curso,
    .th-disciplina,
    .th-polo,
    .th-acoes {
        width: 100%;
    }
}